<nav class="navbar navbar-dark bg-dark">
    <form class="container-fluid justify-content-end">
        <a class="btn btn-sm btn-outline-warning" type="button" (click)="cerrarSesion()">Cerrar Sesion</a>
    </form>
</nav>

<div class="body-app">
    <div class="container-fluid" style="margin-top: 0%; width: 80%;">
        <!-- <div class="mb-3">
            <label for="inputid" class="form-label">ID Particion</label>
            <input type="text" class="form-control" id="inputid" [(ngModel)]="idparticion" name="idparticion">
        </div>
        <div class="mb-3">
            <label for="inputuser" class="form-label">User</label>
            <input type="text" class="form-control" id="inputuser" [(ngModel)]="user" name="user">
        </div>
        <div class="mb-3">
            <label for="inputpwd" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputpwd" [(ngModel)]="pwd" name="pwd">
        </div> -->
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" (click)="prueba()">Login</button>
        </div>
    </div>
    </div>
