<div class="header">
    <h1 class="titulo">PROYECTO 2 MIA</h1>
    <h2 class="titulo"><b>202010816</b></h2>
</div>
<div class="body-app">

<div class="container-fluid" style="margin-top: 0%; width: 80%;">
    <form>
        <div class="form-group" style="margin-bottom: 2%;">
            <input #fileUpload [hidden]="true" type="file" class="file-input" (change)="onFileSelected($event)">
            <button class="btn btn-primary" (click)="fileUpload.click()" style="margin-right: 5px;">Cargar Archivo </button>
                <!-- <button class="btn btn-primary" style="margin-right: 5px;">Cargar Archivo</button> -->
            <button class="btn btn-success" (click)="ejecutar()" style="margin-right: 10px;">Ejecutar</button>
            <button class="btn btn-warning" (click)="limpiar()">Limpiar Todo</button>
            <!-- <button class="btn btn-success">Ejecutar</button> -->
        </div>
        <div class="form-group">
            <label for="entradatxtarea">Entrada</label>
            <textarea class="form-control" id="entradatxtarea" rows="15" [(ngModel)]="entrada" name="entrada"></textarea>
            <!-- <textarea class="form-control" id="entradatxtarea" rows="15"  name="entrada"></textarea> -->
        </div>
        <div class="form-group" style="margin-top: 3%;">
            <label for="salidatxtarea">Salida</label>
            <textarea class="form-control" id="salidatxtarea" rows="15" [(ngModel)]="salida" name="salida"></textarea>
            <!-- <textarea class="form-control" id="salidatxtarea" rows="10"  name="salida"></textarea> -->
        </div>
    </form>
</div>
</div>
<router-outlet></router-outlet>
